global
    log /dev/log local0
    log /dev/log local1 notice
    daemon
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    retries 3

# FRONTEND HTTP (port 80)
frontend http_front
    bind *:80
    mode http
    redirect scheme https code 301 if !{ ssl_fc }

# FRONTEND HTTPS (port 443)
frontend https_front
    bind *:443 ssl crt /etc/ssl/private/(yourkey).pem
    mode tcp
    default_backend traefik_https

# BACKEND Traefik HTTPS
backend traefik_https
    mode tcp
    balance roundrobin
    option tcp-check
    server TRAEFIK-01     IP:443 check
    server TRAEFIK-02    IP:443 check
    server TRAEFIK-03    IP:443 check

